site_name: Smallrye Mutiny Vert.x bindings
repo_url: https://github.com/smallrye/smallrye-mutiny-vertx-bindings
edit_uri: edit/main/docs/

nav:
  - Overview: 'index.md'
  - Javadoc: './apidocs/index.html'

theme:
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  palette:
    primary: deep purple
    accent: deep purple
  features:
    - navigation.sections

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition

extra:
  manifest: manifest.webmanifest
  version:
    provider: mike
