<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%level)] %cyan(%logger{20}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.smallrye.mutiny.vertx.apigenerator" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>